@import url('https://fonts.google.com/share?selection.family=Roboto+Condensed:ital,wght@0,100..900;1,100..900');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: black;
  --foreground: white;
  --base: #111112;
}
html.scrolled nav {
  
  background-color: var(--base);
  box-shadow: 4px 5px 10px -3px #252424ba;
  color: var(--foreground);
  transition: background-color 0.3s;
}

.z-1000{
  z-index: 1000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto Condensed, Lato, sans-serif';
  .color-base{
    color: var(--base);
  }
}

